<%- include("header") -%>

<h2>This is an about Page.</h2>
<p>This page is created just to describe the website. This website is to do lists website where you can keep a list of the things that you
want to do.</p>
<%- include("footer") -%>
